<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anasayfa</title>

    <link rel="stylesheet" type="text/css" href="/static/style.css">


</head>
<body>

<p>Giriş yapmak için <a href="{{ url_for('login') }}">tıklayın!</a></p>


{% if isim %}
    <h1>{{ isim }}</h1>
{% else %}
    <p>isim yazılmadı</p>
{% endif %}



{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}


</body>
</html>